<%= render 'layouts/nav' %> 
<%= render 'layouts/back' %> 

<div class="content_box">
  <div class="around_box">
    <div class="q_a_box">
        <%= render 'form', question: @question %>
    </div>
  </div>
</div>
