/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

//ユーザーアイコン
.user_icon{
  font-size: 30px;
  margin-right: 5px;
  color: rgb(103, 138, 202);
}

.user_icon_2{
  font-size: 30px;
  margin-right: 5px;
  color: rgb(136, 172, 122);
}

//ボタン・aタグのホバー時間
button{
  transition: 0.3s;
  user-select: none;
}

a{
  text-decoration: none;
  transition: 0.3s;
}

//flashの装飾
.flash{
  text-align: center;
  color: #005a0f;
  white-space:pre-wrap;
  margin-top: 10px;
  margin-bottom: 50px;
}
.flash_2{
  text-align: center;
  color: rgb(255, 0, 0);
  white-space:pre-wrap;
  margin-top: 10px;
  margin-bottom: 50px;
}
.flash_3{
  text-align: center;
  font-size: 15px;
  color: #6862b4;
  white-space:pre-wrap;
  padding-top: 5px;
  padding-left: 5px;
  margin-bottom: 20px;
}

//ページの一番上に戻るリンク
#page_top{
  width: 50px;
  height: 50px;
  position: fixed;
  right: -50px;
  bottom: 50px;
  background: #3e4977;
  opacity: 0.6;
  border-radius: 50%;
}
#page_top a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -5px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

//ナビゲーションバー
nav{
  display: flex;
  position: fixed;
  z-index: 200;
  width: 100%;
  min-width: 800px;
  height: 60px;
  text-align: center;
  align-items: center;
  background-color: rgb(70, 80, 95);
  margin: 0;
  top: 0;
  left: 0;
}

//各ページリンクのプルダウンリスト（ナビゲーションバー）
.list{
  margin-left: 20px;
  min-width: 102px;
  height: 45px;
  z-index: 11;
  position: relative;
}
.gnav {
  margin: 7px 0 0 0;
  display: flex;
  height: 2rem;
  width: 50px;
}
.gnav > li {/*親階層のみ幅を100%にする*/
  width: 100%;
}
/*プルダウンリスト・リンク共通*/
.gnav li {
  list-style: none;
  position: relative;
}
.gnav li a {
  background: #041525;
  color: #fff;
  display: block;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
/*子階層以降共通*/
.gnav li li {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity .5s;
  width: 120px;
}
.gnav li li a {
  background: #d4dce4;
  color: rgb(74, 78, 90);
  border-top: 1px solid #041525;
  text-align: left;
  padding-left: 20px;
}
.gnav li:hover > ul > li {
  height: 2rem;
  opacity: 1;
  overflow: visible;
}

//質問箱ボタン（ナビゲーションバー）
.q_nav_btn {
  width: 80px;
  height: 25px;
  margin-right: 15px;
  background: #041525;
  color: #ffffff;
  border-color:#041525;
  cursor: pointer;
  border-radius: 2px;
}
.q_nav_btn:hover {
  background: rgb(0, 0, 0);
  color: #ffffff;
  border-color:rgb(0, 0, 0);
  box-shadow: 0 0 3px rgb(22, 20, 18);
}

//エラー学習ボタン（ナビゲーションバー）
.st_nav_btn {
  width: 100px;
  height: 25px;
  margin-left: 15px;
  margin-right: 100px;
  background: #041525;
  color: #ffffff;
  border-color:#041525;
  cursor: pointer;
  border-radius: 2px;
}
.st_nav_btn:hover {
  background: rgb(0, 0, 0);
  color: #ffffff;
  border-color:rgb(0, 0, 0);
  box-shadow: 0 0 3px rgb(22, 20, 18);
}

//ナビゲーションバー中央の「ErrorAnalysis」
nav .home-link{
  max-width: 250px;
  min-width: 250px;
  padding: 0;
  margin: 0 25% 0 8.5%;
}
nav .title_img{
  width: 100%;
  display: inline;
  padding-top: 10px;
}
//「ErrorAnalysis」をh1で表示する場合のcss
// nav h1{
//   width: 51%;
//   min-width: 400px;
//   font-family: 'Corben', cursive;
//   text-align: center;
//   color:rgb(224, 224, 224);
//   padding: 0;
//   margin: 0;
//   margin-right: 110px;
// }

//ログインボタン（ナビゲーションバー）
.log_btn {
  width: 90px;
  height: 25px;
  margin-right: 15px;
  background: #041525;
  color: #ffffff;
  border-color:#041525;
  cursor: pointer;
  border-radius: 2px;
}
.log_btn:hover {
  background: rgb(0, 0, 0);
  color: #ffffff;
  border-color:rgb(0, 0, 0);
  box-shadow: 0 0 3px rgb(22, 20, 18);
}

//マイページ・ログアウトボタン（ナビゲーションバー）
.log_btn_2 {
  width: 100px;
  height: 25px;
  margin-right: 15px;
  background: #041525;
  color: #ffffff;
  border-color:#041525;
  cursor: pointer;
  border-radius: 2px;
}
.log_btn_2:hover {
  background: rgb(0, 0, 0);
  color: #ffffff;
  border-color:rgb(0, 0, 0);
  box-shadow: 0 0 3px rgb(22, 20, 18);
}
.log{
  z-index: 11;
  position: relative;
}

//新規登録ボタン（ナビゲーションバー）
.signup_btn {
  width: 90px;
  height: 25px;
  background: #041525;
  color: #ffffff;
  border-color:#041525;
  cursor: pointer;
}
.signup_btn:hover {
  background: rgb(0, 0, 0);
  color: #ffffff;
  border-color:rgb(0, 0, 0);
  box-shadow: 0 0 3px rgb(22, 20, 18);
}
.signup_link{
  z-index: 11;
  position: relative;
}
//ここまでがナビゲーションバー


//表示内容全体を囲むボックス
.content_box{
  display: inline-block;
  position: absolute;
  top: 100px;
  width: 100%;
  height: 87vh;
}

//ページ下部に余裕を持たせるための要素
.around_box{
  padding-bottom: 280px;
}

//文字色
.red{
  color: red;
}

.blue{
  color :blue;
}

//中央寄せ
.center{
  text-align: center;
}

//content_box内を区切るボックス
.resultbox{
  margin: auto;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 30px;
  width: 60%;
  min-width: 700px;
  background-color: rgb(233, 244, 250);
  box-shadow: 0 0 10px rgb(26, 25, 25);
  border-radius: 5px;
}
.resultbox p{
  padding: 20px 0 20px 30px;
  white-space:pre-wrap;
}
.resultbox h4 {
  position: relative;
  background: #dad7d4;
  padding: 5px 5px 5px 20px;
  font-size: 18px;
  color: #5c5a56;
  border-radius: 0 10px 10px 0;
}

//質問箱機能で表示されている要素を囲むボックス
.q_a_box{
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 30px;
  width: 80%;
  min-width: 900px;
  background-color: rgb(220, 226, 230);
  box-shadow: 0 0 10px rgb(26, 25, 25);
}
.q_a_box p{
  padding: 20px 0 20px 30px;
  white-space:pre-wrap;
}

//バリデーションエラー
.field_with_errors {
  display: contents;
}
.error_ms{
  list-style-position: inside;
  margin-bottom: 50px;
  color: red;
  font-size: 16px;
}
.err_ms_adj{
  font-size: 17px;
  text-align: center;
}

//検索ボックス
.searchArea{
  position       : relative; 
  width          : 250px;              /* BOXの幅               */
  height         : 40px;               /* BOXの高さ             */
  margin         : auto;               /* サンプルを中心に寄せ  */
  letter-spacing : 0.1em;              /* 文字間隔              */
  font-weight    : bold;               /* 太字                  */
  line-height    : 0;                  /* 標準の行高さ          */
  background-color: rgb(73, 72, 72);
  box-shadow: 0 0 10px rgb(26, 25, 25);
  z-index: 2;
}

//検索ボックス内テキスト
.searchText {
  position       : absolute;
  display        : block;              /* ブロック化            */
  box-sizing     : border-box;         /* 枠線,余白を含んだ長さ */
  height         : 40px;               /* BOXの高さ             */
  width          : 100%;               /* テキスト入力の幅      */
  margin         : 0;                  /* 外余白                */
  padding        : 0 45px 0 8px;       /* 内余白                */
  border         : 2px solid rgb(77, 77, 77);     /* 枠線　幅,実践,色      */
  border-radius  : 6px;                /* 角丸                  */
  color          : #333;               /* 文字色                */
  font-size      : 18px;               /* フォントサイズ        */
  outline        : 0;                  /* 入力の薄い枠を非表示  */
}

//検索ボタン
.searchButton {
  position       : absolute;
  box-sizing     : border-box;         /* 枠線,余白を含んだ長さ */
  height         : 28px;               /* 入力の高さ            */
  margin         : 0;                  /* 外余白                */
  padding        : 6px 10px;           /* 内余白                */
  top            : 6px;                /* ボタン表示位置(上)    */
  right          : 6px;                /* ボタン表示位置(右)    */
  border         : none;               /* 枠線　幅,実践,色      */
  border-radius  : 6px;                /* 右上下の角丸          */
  background     : #666;               /* ボタンの色            */
  color          : #fff;               /* 文字色                */
  cursor         : pointer;            /* カーソル設定          */
}

//テキストフォーカス
.searchText:focus {
  background     : #d8d8d8;            /* フォーカス時の背景色  */
}

//虫眼鏡アイコン画像
.searchImg {
  display        : inline-block;       /* インラインブロック化  */
  width          : auto;               /* 幅は高さに合わせる    */
  height         : 16px;               /* 画像の高さ            */
  margin         : 0;                  /* 余白                  */
  vertical-align : middle;             /* 横の文字位置          */
}

//IEの入力エリア右側×消し
.searchText::-ms-clear {
  display        : none;               /* ×を消す              */
}

//ボタン(以下に設定されているボタンの共通部分）
.btn{
  cursor: pointer;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0.5em 1.5em 0.5em 1em;
  font-weight: bold;
  box-shadow: 0 0 10px rgb(51, 51, 51);
  box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
  border-radius: 10px;
}

//「質問する」ボタン
.q_btn{
  width: 150px;
  color: rgb(243, 241, 236);
  font-size: 17px;
  background-color: rgb(34, 131, 146);
  border-radius: 30px;
}
.q_btn:hover{
  background-color: #043e42;
  color: rgb(235, 235, 235);
  box-shadow: 0 0 10px rgb(51, 51, 51);
}

//送信・作成ボタン
.c_btn {
  margin-top: 50px;
  width: 100px;
  color: rgb(53, 51, 48);
  font-size: 16px;
  background-color: rgb(233, 224, 213);
  box-shadow: 0 0 3px rgb(51, 51, 51);
  border-radius: 30px;
}
.c_btn:hover {
  background-color: rgb(180, 176, 170);
}
.c_btn_adj{
  margin-top: 0;
}

//質問内容を囲むボックス(questionとanswerページで使用）
.con_box {
  margin: 2em 0;
  background: #f1f1f1;
  padding: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
}
.con_box .box-title {
  font-size: 1.2em;
  background: #6e8f9c;
  padding: 4px;
  margin-bottom: 50px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.05em;
  border-radius: 30px; 
}
.con_box p {
  padding: 15px 20px;
  margin: 0 0 100px 0;
}

//アップロードされている画像
.con_img{
  width: 70%;
  min-width: 700px;
  margin-bottom: 50px;
  border: 5px solid #272e46;
  border-radius: 3px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
}

//回答フォーム（answerとreplyページで使用）
.ans_form_box{
  background-color: rgb(243, 232, 200);
  padding-top: 20px;
  padding-bottom: 0;
  z-index: 50;
  position: fixed;
  text-align: center;
  width: 40%;
  min-width: 600px;
  height: 240px;
  inset: 0;
  top: 65vh;
  margin: auto;
  box-shadow: 0 0 10px rgb(48, 47, 47);
  border-radius: 5px;
}
.ans_form{
  width: 90%; /*親要素いっぱい広げる*/
  height: 150px;
  padding: 10px 15px; /*ボックスを大きくする*/
  font-size: 15px;
  border-radius: 3px; /*ボックス角の丸み*/
  border: 2px solid #ddd; /*枠線*/
  box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
}
.ans_label{
  font-size: large;
  color: rgb(85, 83, 83);
  font-weight: bold;
}

 //質問への回答&返信対象の回答を囲むボックス
 .ans_box {
  margin: 2em 0;
  background: #f1f1f1;
  padding: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
}
.ans_box .box-title {
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  background: #6862b4;
  padding: 4px;
  padding-left: 50px;
  margin-bottom: 50px;
  text-align: center;
  align-items: center;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.05em;
  border-radius : 30px;  
}
.ans_box p {
  padding: 15px 20px;
  margin: 0;
}
.ans_box h5{
  color: #679ac9;
}
//回答内容
.ans_con{
  padding-bottom: 50px;
  border-bottom: 3px solid rgb(223, 223, 223);
}

//返信内容を囲むボックス(questionとreplyページで使用）
.rep_box{
  padding-bottom: 30px;
  padding-top: 10px;
  margin-left: 70px;
  margin-right: 10px;
  border-bottom: 3px solid rgb(223, 223, 223);
}
.rep_box h5{
  color: rgb(136, 172, 122);
}



//ここから背景
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
  margin: 0px;
  padding: 0px;
}

.area{
  position: fixed;
  background: #577fca;  
  background: -webkit-linear-gradient(to left, #577fca, #5e8ecc);  
  width: 100%;
  height: 100vh;
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 50px;
  height: 50px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 30px;
  height: 30px;
  animation-delay: 0s;
  animation-duration: 15s;
}

@keyframes animate {

  0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0%;
  }

  100%{
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }

}
