// Place all the styles related to the errorAnalysis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*背景*/
.back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fffff6;
    z-index: -1;
    transform:translate3d(0,0,0);
}

.top_link{
    position: absolute;
    width: 100%;
    max-width: 400px;
    height: 150px;
    display: block;
    left: 0;
    right: 0;
    margin: auto;
    top: 30px;
    z-index: 1;
}


nav{
    position: relative;
    width: 90%;
    max-width: 400px;
    height: 150px;
    background-color: rgb(112, 112, 112);
    box-shadow: 0 0 8px gray;
    border-radius: 50px;
    margin: 0 auto;
    top: 20px;
}

h1{
    font-family: 'Corben', cursive;
    text-align: center;
    margin: 0;
    padding: 20px 0 20px 0;
    color:rgb(224, 224, 224);
}

 /* === 検索全体のBOX===== */
.searchArea{
    position       : relative; 
    width          : 250px;              /* BOXの幅               */
    height         : 40px;               /* BOXの高さ             */
    margin         : auto;               /* サンプルを中心に寄せ  */
    letter-spacing : 0.1em;              /* 文字間隔              */
    font-weight    : bold;               /* 太字                  */
    line-height    : 0;                  /* 標準の行高さ          */
    box-shadow: 0 0 3px gray;
    z-index: 2;
}
   
/* === テキスト入力欄のSTYLE設定 ============================= */
.searchText {
    position       : absolute;
    display        : block;              /* ブロック化            */
    box-sizing     : border-box;         /* 枠線,余白を含んだ長さ */
    height         : 40px;               /* BOXの高さ             */
    width          : 100%;               /* テキスト入力の幅      */
    margin         : 0;                  /* 外余白                */
    padding        : 0 45px 0 8px;       /* 内余白                */
    border         : 2px solid rgb(77, 77, 77);     /* 枠線　幅,実践,色      */
    border-radius  : 6px;                /* 角丸                  */
    color          : #333;               /* 文字色                */
    font-size      : 18px;               /* フォントサイズ        */
    outline        : 0;                  /* 入力の薄い枠を非表示  */
}
   
/* === 検索ボタン欄のSTYLE設定 =============================== */
.searchButton {
    position       : absolute;
    box-sizing     : border-box;         /* 枠線,余白を含んだ長さ */
    height         : 28px;               /* 入力の高さ            */
    margin         : 0;                  /* 外余白                */
    padding        : 6px 10px;           /* 内余白                */
    top            : 6px;                /* ボタン表示位置(上)    */
    right          : 6px;                /* ボタン表示位置(右)    */
    border         : none;               /* 枠線　幅,実践,色      */
    border-radius  : 6px;                /* 右上下の角丸          */
    background     : #666;               /* ボタンの色            */
    color          : #fff;               /* 文字色                */
    cursor         : pointer;            /* カーソル設定          */
}
   
/* === テキスト入力欄にフォーカスか来たとき ================== */
.searchText:focus {
    background     : #d8d8d8;            /* フォーカス時の背景色  */
}
   
/* === 検索ボタン欄にフォーカスか来たとき ==================== */
.searchButton:hover {
    background     : rgb(92, 92, 92);               /* フォーカス時の背景色  */
}
   
/* === 検索アイコンのSTYLE設定 =============================== */
.searchImg {
    display        : inline-block;       /* インラインブロック化  */
    width          : auto;               /* 幅は高さに合わせる    */
    height         : 16px;               /* 画像の高さ            */
    margin         : 0;                  /* 余白                  */
    vertical-align : middle;             /* 横の文字位置          */
}
   
/* === IEの入力エリア右側×消し ============================== */
.searchText::-ms-clear {
    display        : none;               /* ×を消す              */
}

.alertbox{
    width: 80%;
    max-width: 580px;
    margin: 0 auto;
    background-color: #ffebee;
    border: solid 1px red;
    padding: 20px 5px 5px 30px;
    margin-bottom: 50px;
  }
  
  .alert-title{
    color: #ef5350;
    font-size: 18px;
    font-weight: bold;
  }
  
  .alert{
    font-size: 17px;
  }
  
  .alertsbox p{
    margin: 0;
    padding: 0;
  }

.example{
    position: relative;
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: rgb(68, 65, 65);
    //text-decoration:underline;
}

.ex_copy{
    width: 100%;
    max-width: 450px;
    box-shadow: 0 0 5px rgb(0, 0, 0);
}

.ex_input{
    width: 100%;
    max-width: 300px;
    box-shadow: 0 0 5px rgb(0, 0, 0);
}

.ex_result{
    width: 100%;
    max-width: 500px;
    box-shadow: 0 0 5px rgb(0, 0, 0);
}

.down{
    font-size: 40px;
    margin: 40px 0 40px 0;
    color: rgb(121, 121, 121);
}

/*結果表示*/
.resultbox {
    position: relative;
    width: 80%;
    padding: 3% 5% 1% 5%;
    margin:0 auto;
    margin-top: 50px;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0 0 8px gray;
    background-color: #fff;
    z-index: -1;
    transform:translate3d(0,0,0);
    border-radius: 8px;
}

.resultbox p {
    padding: 0 5% 2% 5%;
    white-space: pre-wrap;
}

.mess{
    text-align: center;
}

h4 {
    position: relative;
    background: #dad7d4;
    padding: 5px 5px 5px 20px;
    font-size: 18px;
    color: #5c5a56;
    border-radius: 0 10px 10px 0;
}
