// Place all the styles related to the group_users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.group_users{

    //検索ボックス
    .searchArea{
        border-radius: 5px;
        box-shadow: 0 0 3px gray;
    }

    .search_mes{
        color:rgb(107, 106, 102);
        margin-bottom: 10px;
    }

    .join_button{
        margin-top: 50px;
        width: 215px;
        color: rgb(53, 51, 48);
        font-size: 16px;
        background-color: rgb(233, 224, 213);
        border: 2px solid rgb(119, 117, 113); /*枠線*/
        border-radius: 30px;
    }      
    .join_button:hover {
        background-color: #ccae77;
        color: rgb(230, 227, 220);
    }

}