// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.homes{

    //全体を中央寄せ
    .content_box{
        text-align: center;
    }

    //フェード文章
    .content {      
        margin-top: 50px;
        width:auto;
        height: auto;
    }
    .content p {
        font-size: 18px;
        color: #fff;
        line-height: 5em;
    }

    .al_1 p{
        line-height: 2em;
    }

    .al_2 p{
        line-height: 2em;
    }

    /*以下フェードイン表示の指定*/
    .fadein {
        opacity: 0;
        animation: fadein 3s ease forwards;
    }

    @keyframes fadein {
        100% {  opacity: 1;}
    }
    
    /*以下遅延の指定*/
    .txt01 {animation-delay: 0s;}
    .txt02 {animation-delay: 1s;}
    .txt03 {animation-delay: 2s;}
    .al_1 {animation-delay: 2s;}
    .txt04 {animation-delay: 2s;}
    .txt05 {animation-delay: 3s;}
    .txt06 {animation-delay: 4s;}
    .al_2 {animation-delay: 4s;}
    .txt07 {animation-delay: 4s;}
    .txt08 {animation-delay: 5s;}

    //フェード文章ブロック
    .txt02{
        display: inline-block;
        width: 820px;
        height: auto;
        background-color: rgb(125, 159, 231);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .txt03{
        width: 820px;
        height: auto;
        background-color: rgb(125, 159, 231);
    }

    .al_1{
        padding-top: 30px;
        padding-bottom: 30px;
        width: 820px;
        height: auto;
        background-color: rgb(125, 159, 231);
    }

    .txt04{
        width: 61%;
        height: auto;
        background-color: rgb(125, 159, 231);
    }

    .txt05{
        width: 820px;
        height: auto;
        background-color: rgb(125, 159, 231);
    }

    .txt06{
        width: 820px;
        height: auto;
        background-color: rgb(125, 159, 231);
    }

    .al_2{
        padding-top: 30px;
        padding-bottom: 30px;
        width: 820px;
        height: auto;
        background-color: rgb(125, 159, 231);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .txt07{
        width: 60%;
        height: auto;
        background-color: rgb(125, 159, 231);
    }

    .txt08{
        width: 820px;
        height: auto;
        background-color: rgb(125, 159, 231);
    }

    //フェード文章内画像
    .copy_ex{
        border-radius: 3px;
        width: 60%;
    }

    .input_ex{
        border-radius: 3px;
        width: 40%;
    }

    .result_ex{
        border-radius: 3px;
        width: 80%;
    }

    .question_ex{
        border-radius: 3px;
        width: 80%;
    }
    
}