// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//アクションごとに調整

.questions-show{

    .ans_user_name_adj{
        font-size: 15px;
        padding-right: 5px;
    }

    .delete_btn_adj{
        margin: 0 5px;
    }
    
}

.questions{

    //質問箱全体を覆うdiv
    .q_a_box{
        border-radius : 5px; 
    }

    //キーワードで絞る用の検索ボックス全体を囲むボックス
    .searchArea_around{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    //検索ボックス
    .searchArea{
        margin: 0 0 0 10px;
        width : 200px;   
        box-shadow: 0 0 3px gray;
        border-radius: 3px; 
    }
    .Area-adj{
        width: 135px;
    }

    .searchArea select{
        width: 100%;
        padding: 11px 15px; 
        box-sizing: border-box;
        font-size: 15px;
        appearance: none;
        outline: none;
    }

    //×ボタンを囲むボックス
    .liftArea{
        top: -18px;
        margin-left: 50px;
        position       : relative;
        letter-spacing : 0.1em;              /* 文字間隔              */
        font-weight    : bold;               /* 太字                  */
        line-height    : 0;                  /* 標準の行高さ          */
        box-shadow: 0 0 3px gray;
        z-index: 2;
    }

    .sortBtn-adj{
        padding:6px 7px;
    }
    .sImg-adj{
        height:19px;
    }

    .liftBtn-adj{
        height:25px;
        width:25px;
        padding:5px;
    }
    .lImg-adj{
        height:15px;
    }
    

    //質問一覧のテーブル
    table{
        border-collapse: collapse;
        border-spacing: 0;
        margin-top: 100px;
        width: 100%;
    }
    table tr{
        border-bottom: solid 1px #eee;
    }
    table td{
        padding: 15px 0;
    }
    table .user_td{
        text-align: left;
        width: 15%;
        margin-right: 10px;
    }
    table .title_td{
        text-align: center;
        width: 50%
    }
    table .conte_td{
        text-align: center;
        width: 35%;
    }

    label {
        display: block; 
    }

    //質問ユーザー
    .user{
        background-size: 35px;
        background-position: left 5px center;
        background-repeat: no-repeat;
        padding-left: 30px;
    }

    //質問の詳細ボタン
    .show_btn {
        display: inline-block;
        color: rgb(49, 42, 33);
        background: #e0e0e0;
        width: 80px;
        height: 30px;
        border: 1px solid;
        border-radius: 5px;
        text-align: center;
        padding-top: 5px;
        padding-right: 5px;
    }
    .show_btn:hover {
        background: rgb(36, 33, 31);
        color: #e9e6e0;
    }

    //ここから質問の詳細ページ(show)

    //編集・削除ボタンを囲むボックス
    .edit_delete_btn_around{
        display: flex;
        width: 230px;
        margin: 0 auto;
    }

    //編集・削除ボタン
    .edit_delete_btn{
        width: 100px;
        position: relative;
        font-size: 17px;
        color: rgb(243, 241, 236);
        background-color: rgb(34, 131, 146);
        box-shadow: 0 0 10px rgb(78, 76, 76);
        border-radius: 30px;
        border: 1px  rgb(34, 131, 146);
    }
    .edit_delete_btn:hover{
        background-color: #043e42;
        color: rgb(235, 235, 235);
        border-color: #043e42;
        box-shadow: 0 0 10px rgb(51, 51, 51);
    }
    .edit_delete_link{
        z-index: 11;
        position: relative;
    }
    .edit_btn_adj{
        margin-right:30px;
    }

    //質問タイトル
    h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        position: relative;
        background: #f1f8ff;
        padding: 0.25em 0.5em;
        border-left: solid 2em #41576e;
        box-shadow: 0 0 5px rgb(99, 99, 99);
        border-radius : 7px; 
    }
    h2:before {
        font-family: "Font Awesome 5 Free";
        content: "\f303";
        position: absolute;
        padding: 0em;
        color: white;
        font-weight: 900;
        left: -1.35em;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    //解決・未解決のチェックボタン
    .solved_btn{
        width: 100px;
        z-index: 2;
        position: relative;
        align-items: center;
        font-size: 17px;
        color: rgb(49, 47, 47);
        background-color: #f1f8ff;
        font-weight: bold;
        cursor: pointer;
        border: none;
    }
    .solved_link{
        z-index: 11;
        position: relative;
        margin-left: 50px;
    }

    //いいねボタン
    .befor_nice_btn{
        width: 35px;
        height: 35px;
        z-index: 2;
        position: relative;
        padding: 3px;
        align-items: center;
        font-size: 18px;
        color: rgb(233, 233, 233);
        background: rgb(70, 70, 70);
        font-weight: bold;
        border: 1px solid rgb(68, 68, 68);
        box-shadow: 0 0 2px rgb(78, 76, 76);
        cursor: pointer;
        border-radius: 50%;
    }
    .after_nice_btn{
        width: 35px;
        height: 35px;
        z-index: 2;
        position: relative;
        padding: 3px;
        align-items: center;
        font-size: 18px;
        color: rgb(255, 225, 57);
        background: rgb(70, 70, 70);
        font-weight: bold;
        border: 1px solid rgb(68, 68, 68);
        box-shadow: 0 0 2px rgb(238, 233, 186);
        cursor: pointer;
        border-radius: 50%;
    }
    .nice_link{
        z-index: 11;
        position: relative;
        margin-left: 50px;
    }

    //ユーザー＆キーワード情報
    .info{
        text-align: center;
        width: 150px;
        position: relative;
        background: #f1f8ff;
        padding: 0.25em 0.5em;
        box-shadow: 0 0 3px rgb(99, 99, 99);
        border-radius : 7px;  
    }
    .info:before {
        font-family: "Font Awesome 5 Free";
        position: absolute;
        padding: 0em;
        color: white;
        font-weight: 900;
        left: -1.35em;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .userInf {
        margin-top: 50px;
        margin-bottom: 5px;
        border-left: solid 2em #474e53;
    }
    .userInf:before{
        content: "\f007";
    }

    .keyInf{
        border-left: solid 2em #a1a17b;
    }
    .keyInf:before{
        content: "\f084";
    }

    //「返信する」ボタン
    .rep_btn  {
        display: inline;
        padding: 3px;
        margin-top: 30px;
        width: 90px;
        font-size: 15px;
        color: rgb(255, 255, 255);
        background-color: #679ac9;
        box-shadow: 0 0 3px rgb(44, 43, 43);
        border-radius: 2px;
    }   
    .rep_btn:hover {
        background-color: #1a3e53;
        color: rgb(255, 255, 255);
        box-shadow: 0 0 2px rgb(0, 0, 0);
    }

    
    //回答の編集・削除ボタン
    .ans_edit_delete_btn{
        position: relative;
        padding: 0 7px;
        width: 63.5px;
        margin-left: 20px;
        font-size: 15px;
        color: rgb(97, 135, 179);
        background: rgb(255, 255, 255);
        border: 1px solid rgb(233, 230, 226);
        box-shadow: 0 0 7px rgb(120, 120, 121);
        border-radius: 5px;
    }
    .ans_edit_delete_btn:hover{
        color: rgb(255, 255, 255);
        background: #39587c;
        border: 1px solid #39587c;
        box-shadow: 0 0 5px rgb(51, 51, 51);
    }
    .ans_edit_delete_link{
        z-index: 11;
        position: relative;
    }

    //返信の編集・削除ボタン
    .rep_edit_delete_btn{
        position: relative;
        padding: 3px;
        margin-left: 20px;
        width: 55px;
        color: rgb(255, 255, 255);
        font-size: 13px;
        font-weight: bold;
        background-color: rgb(136, 172, 122);
        box-shadow: 0 0 1px rgb(44, 43, 43);
        border-radius: 5px;
    }
    .rep_edit_delete_btn:hover{
        background-color: rgb(66, 94, 54);
        color: rgb(255, 255, 255);
        box-shadow: 0 0 2px rgb(0, 0, 0);
    }
    .rep_edit_delete_link{
        z-index: 11;
        display: inline-block;
    }

    

    //ここから質問フォーム

    .q_label{
        color: rgb(85, 83, 83);
        font-weight: bold;
        margin-top: 50px;
    }

    //質問タイトル
    .title_form{
        width: 100%; /*親要素いっぱい広げる*/
        padding: 10px 15px; /*ボックスを大きくする*/
        font-size: 16px;
        border-radius: 3px; /*ボックス角の丸み*/
        border: 2px solid #ddd; /*枠線*/
        box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
    }

    //キーワードのセレクトボックス
    .field select{
        width: 100%; /*親要素いっぱい広げる*/
        padding: 10px 15px; /*ボックスを大きくする*/
        font-size: 16px;
        border-radius: 3px; /*ボックス角の丸み*/
        border: 2px solid #ddd; /*枠線*/
        box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
    }

    //質問内容
    .con_form{
        width: 100%; /*親要素いっぱい広げる*/
        height: 500px;
        padding: 10px 15px; /*ボックスを大きくする*/
        font-size: 16px;
        border-radius: 3px; /*ボックス角の丸み*/
        border: 2px solid #ddd; /*枠線*/
        box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
    }

    //画像フォーム
    .image_table{
        margin-top: 30px;
    }
    .img_td_adj{
        padding-bottom: 0;
    }
    .img_p_adj{
        color: blue;
        padding: 0 0 0 30px;
    }

    //送信ボタン
    .q_button  {
        cursor: pointer;
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        margin-top: 50px;
        padding: 0.5em 1.5em 0.5em 1em;
        width: 100px;
        color: rgb(53, 51, 48);
        font-size: 16px;
        font-weight: bold;
        background-color: rgb(233, 224, 213);
        border: 2px solid rgb(119, 117, 113); /*枠線*/
        box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
        border-radius: 30px;
        transition: 0.3s;
    }
        
    .q_button:hover {
        background-color: #ccae77;
        color: rgb(230, 227, 220);
    }

}

