// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//質問ボタン
.q_btn{
    cursor: pointer;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0.5em 1.5em 0.5em 1em;
    width: 150px;
    color: rgb(243, 241, 236);
    font-size: 17px;
    font-weight: 550;
    background-color: rgb(34, 131, 146);
    box-shadow: 0 0 10px rgb(78, 76, 76);
    border-radius: 30px;
}
    
.q_btn:hover{
    background-color: #043e42;
    color: rgb(235, 235, 235);
    box-shadow: 0 0 10px rgb(51, 51, 51);
}

//回答・編集・削除ボタン
.q_edit_delete{
    display: flex;
    width: 230px;
    margin: 0 auto;
}

.edit_btn{
    margin-right: 30px;
    width: 100px;
    z-index: 2;
    position: relative;
    padding: 0.5em 1em;
    align-items: center;
    font-size: 17px;
    font-weight: 550;
    color: rgb(243, 241, 236);
    background-color: rgb(34, 131, 146);
    box-shadow: 0 0 10px rgb(78, 76, 76);
    border-radius: 30px;
    font-weight: bold;
    border: 1px  rgb(34, 131, 146);
    cursor: pointer;
}

.edit_btn:hover{
    background-color: #043e42;
    color: rgb(235, 235, 235);
    border-color: #043e42;
    box-shadow: 0 0 10px rgb(51, 51, 51);
}

.edit_link{
    z-index: 11;
    position: relative;
}

.delete_btn{
    width: 100px;
    z-index: 2;
    position: relative;
    padding: 0.5em 1em;
    align-items: center;
    font-size: 17px;
    font-weight: 550;
    color: rgb(243, 241, 236);
    background-color: rgb(34, 131, 146);
    box-shadow: 0 0 10px rgb(78, 76, 76);
    border-radius: 30px;
    font-weight: bold;
    border: 1px solid rgb(34, 131, 146);
    cursor: pointer;
}

.delete_btn:hover{
    background-color: #043e42;
    color: rgb(235, 235, 235);
    box-shadow: 0 0 10px rgb(51, 51, 51);
    border-color: #043e42;
}

.delete_link{
    z-index: 11;
    position: relative;
}

.q_a_box{

    border-radius : 5px; 
    
    //質問タイトル
    h2 {
        text-align: center;
        margin-bottom: 30px;
        position: relative;
        background: #f1f8ff;
        padding: 0.25em 0.5em;
        border-left: solid 2em #41576e;
        box-shadow: 0 0 5px rgb(99, 99, 99);
        border-radius : 7px; 
    }

    h2:before {
        font-family: "Font Awesome 5 Free";
        content: "\f303";
        position: absolute;
        padding: 0em;
        color: white;
        font-weight: 900;
        left: -1.35em;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    //ユーザー情報
    .user_info{
        text-align: center;
        width: 150px;
        position: relative;
        background: #f1f8ff;
        padding: 0.25em 0.5em;
        margin-top: 50px;
        margin-bottom: 5px;
        border-left: solid 2em #474e53;
        box-shadow: 0 0 3px rgb(99, 99, 99);
        border-radius : 7px;  
    }

    .user_info:before {
        font-family: "Font Awesome 5 Free";
        content: "\f007";
        position: absolute;
        padding: 0em;
        color: white;
        font-weight: 900;
        left: -1.35em;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    //キーワード情報
    .key_info{
        text-align: center;
        width: 150px;
        position: relative;
        background: #f1f8ff;
        padding: 0.25em 0.5em;
        border-left: solid 2em #a1a17b;
        box-shadow: 0 0 3px rgb(99, 99, 99);
        border-radius : 7px;  
    }

    .key_info:before {
        font-family: "Font Awesome 5 Free";
        content: "\f084";
        position: absolute;
        padding: 0em;
        color: white;
        font-weight: 900;
        left: -1.35em;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }


    .searchArea_around_1{
        display: flex;
        width: 100%;
        max-width: 600px;
    }

    .searchArea_around_2{
        display: flex;
        width: 100%;
        max-width: 350px;
    }

    .searchArea_2{
        margin-left: 10px;
        position       : relative; 
        width          : 200px;              /* BOXの幅               */
        height         : 40px;               /* BOXの高さ             */
        letter-spacing : 0.1em;              /* 文字間隔              */
        font-weight    : bold;               /* 太字                  */
        line-height    : 0;                  /* 標準の行高さ          */
        box-shadow: 0 0 3px gray;
        z-index: 2;
    }

    .searchButton_2 {
        position       : absolute;
        box-sizing     : border-box;         /* 枠線,余白を含んだ長さ */
        height         : 28px;               /* 入力の高さ            */
        margin         : 0;                  /* 外余白                */
        padding        : 6px 10px;           /* 内余白                */
        top            : 7.5px;                /* ボタン表示位置(上)    */
        right          : 6px;                /* ボタン表示位置(右)    */
        border         : none;               /* 枠線　幅,実践,色      */
        border-radius  : 6px;                /* 右上下の角丸          */
        background     : #666;               /* ボタンの色            */
        color          : #fff;               /* 文字色                */
        cursor         : pointer;            /* カーソル設定          */
    }

    .groupArea{
        margin-left: 10px;
        position       : relative; 
        width          : 180px;              /* BOXの幅               */
        height         : 40px;               /* BOXの高さ             */
        letter-spacing : 0.1em;              /* 文字間隔              */
        font-weight    : bold;               /* 太字                  */
        line-height    : 0;                  /* 標準の行高さ          */
        box-shadow: 0 0 3px gray;
        z-index: 2;
    }

    .sortArea{
        margin-left: 10px;
        position       : relative; 
        width          : 138.7px;              /* BOXの幅               */
        height         : 40px;               /* BOXの高さ             */
        letter-spacing : 0.1em;              /* 文字間隔              */
        font-weight    : bold;               /* 太字                  */
        line-height    : 0;                  /* 標準の行高さ          */
        box-shadow: 0 0 3px gray;
        z-index: 2;
    }

    .sortButton {
        position       : absolute;
        box-sizing     : border-box;         /* 枠線,余白を含んだ長さ */
        height         : 28px;               /* 入力の高さ            */
        margin         : 0;                  /* 外余白                */
        padding        : 6px 7px;           /* 内余白                */
        top            : 7.5px;                /* ボタン表示位置(上)    */
        right          : 6px;                /* ボタン表示位置(右)    */
        border         : none;               /* 枠線　幅,実践,色      */
        border-radius  : 6px;                /* 右上下の角丸          */
        background     : #666;               /* ボタンの色            */
        cursor         : pointer;            /* カーソル設定          */
    }
    
    .sortImg {
        display        : inline-block;       /* インラインブロック化  */
        width          : auto;               /* 幅は高さに合わせる    */
        height         : 19px;               /* 画像の高さ            */
        margin         : 0;                  /* 余白                  */
        vertical-align : middle;             /* 横の文字位置          */
    }



    .rep_btn  {
        cursor: pointer;
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3px;
        margin-top: 30px;
        width: 90px;
        color: rgb(255, 255, 255);
        font-size: 15px;
        font-weight: bold;
        background-color: #679ac9;
        box-shadow: 0 0 3px rgb(44, 43, 43);
        border-radius: 2px;
        transition: 0.3s;
    }
        
    .rep_btn:hover {
        background-color: #1a3e53;
        color: rgb(255, 255, 255);
        box-shadow: 0 0 2px rgb(0, 0, 0);
    }

    

    .ans_edit_delete_btn{
        width: 63.5px;
        z-index: 2;
        position: relative;
        margin-left: 20px;
        padding: 3;
        align-items: center;
        font-size: 15px;
        font-weight: 550;
        color: rgb(97, 135, 179);
        background: rgb(255, 255, 255);
        font-weight: bold;
        border: 1px solid rgb(233, 230, 226);
        box-shadow: 0 0 7px rgb(120, 120, 121);
        cursor: pointer;
        border-radius: 5px;
    }

    .ans_edit_delete_btn:hover{
        color: rgb(255, 255, 255);
        background: #39587c;
        border: 1px solid #39587c;
        box-shadow: 0 0 5px rgb(51, 51, 51);
    }

    .ans_edit_delete_link{
        z-index: 11;
        position: relative;
    }

    .rep_edit_delete_btn{
        cursor: pointer;
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3px;
        margin-left: 20px;
        width: 55px;
        color: rgb(255, 255, 255);
        font-size: 13px;
        font-weight: bold;
        background-color: rgb(136, 172, 122);
        box-shadow: 0 0 1px rgb(44, 43, 43);
        border-radius: 5px;
    }

    .rep_edit_delete_btn:hover{
        background-color: rgb(66, 94, 54);
        color: rgb(255, 255, 255);
        box-shadow: 0 0 2px rgb(0, 0, 0);
    }

    .rep_edit_delete_link{
        z-index: 11;
        display: inline-block;
    }

    table{
        border-collapse: collapse;
        border-spacing: 0;
        margin-top: 100px;
        width: 100%;
    }
    
    table tr{
        border-bottom: solid 1px #eee;
    }

    table td{
        padding: 15px 0;
    }
    
    table .user_td{
        text-align: left;
        width: 15%;
        margin-right: 10px;
    }

    table .title_td{
        text-align: center;
        width: 50%
    }

    table .conte_td{
        text-align: center;
        width: 35%;
    }

    .btn-circle-flat {
        display: inline-block;
        color: rgb(49, 42, 33);
        background: #e0e0e0;
        width: 80px;
        height: 30px;
        border: 1px solid;
        border-radius: 5px;
        text-align: center;
        padding-top: 5px;
        padding-right: 5px;
    }
    
    .btn-circle-flat:hover {
        background: rgb(36, 33, 31);
        color: #e9e6e0;
    }

    .user{
        background-size: 35px;
        background-position: left 5px center;
        background-repeat: no-repeat;
        padding-left: 30px;
    }
    
    #error_explanation {
        width: 450px;
        border: 2px solid red;
        padding: 7px 7px 0;
        margin-bottom: 20px;
        background-color: #f0f0f0; 
    }
    
    #error_explanation h2 {
        text-align: left;
        font-weight: bold;
        padding: 5px 5px 5px 15px;
        font-size: 12px;
        margin: -7px -7px 0;
        background-color: #c00;
        color: #fff; 
    }
    
    #error_explanation ul li {
        font-size: 12px;
        list-style: square; 
    }
    
    label {
        display: block; 
    }
    
    .con_img{
        width: 70%;
        min-width: 700px;
        margin-bottom: 50px;
        border: 5px solid #272e46;
        border-radius: 3px; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
    }

    .con_box {
        margin: 2em 0;
        background: #f1f1f1;
        padding: 50px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
    }

    .con_box .box-title {
        font-size: 1.2em;
        background: #6e8f9c;
        padding: 4px;
        margin-bottom: 50px;
        text-align: center;
        color: #FFF;
        font-weight: bold;
        letter-spacing: 0.05em;
        border-radius: 30px; 
    }
    .con_box p {
        padding: 15px 20px;
        margin: 0 0 100px 0;
    }


    .ans_box {
        margin: 2em 0;
        background: #f1f1f1;
        padding: 50px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
    }
    .ans_box .box-title {
        display: flex;
        justify-content: center;
        font-size: 1.2em;
        background: #6862b4;
        padding: 4px;
        padding-left: 50px;
        margin-bottom: 50px;
        text-align: center;
        align-items: center;
        color: #FFF;
        font-weight: bold;
        letter-spacing: 0.05em;
        border-radius : 30px;  
    }
    .ans_box p {
        padding: 15px 20px;
        margin: 0;
    }

    .ans_box h5{
        color: #679ac9;
    }

    .rep h5{
        color: rgb(136, 172, 122);
    }


    .ans_con{
        padding-bottom: 50px;
        border-bottom: 3px solid rgb(223, 223, 223);
    }

    .befor_nice_btn{
        width: 35px;
        height: 35px;
        z-index: 2;
        position: relative;
        padding: 3px;
        align-items: center;
        font-size: 18px;
        color: rgb(233, 233, 233);
        background: rgb(70, 70, 70);
        font-weight: bold;
        border: 1px solid rgb(68, 68, 68);
        box-shadow: 0 0 2px rgb(78, 76, 76);
        cursor: pointer;
        border-radius: 50%;
    }


    .after_nice_btn{
        width: 35px;
        height: 35px;
        z-index: 2;
        position: relative;
        padding: 3px;
        align-items: center;
        font-size: 18px;
        color: rgb(255, 225, 57);
        background: rgb(70, 70, 70);
        font-weight: bold;
        border: 1px solid rgb(68, 68, 68);
        box-shadow: 0 0 2px rgb(238, 233, 186);
        cursor: pointer;
        border-radius: 50%;
    }

    .nice_link{
        z-index: 11;
        position: relative;
        margin-left: 50px;
    }


    .rep{
        padding-bottom: 30px;
        padding-top: 10px;
        margin-left: 70px;
        margin-right: 10px;
        border-bottom: 3px solid rgb(223, 223, 223);
    }

    .title_form{
        width: 100%; /*親要素いっぱい広げる*/
        padding: 10px 15px; /*ボックスを大きくする*/
        font-size: 16px;
        border-radius: 3px; /*ボックス角の丸み*/
        border: 2px solid #ddd; /*枠線*/
        box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
    }

    select{
        width: 100%; /*親要素いっぱい広げる*/
        padding: 10px 15px; /*ボックスを大きくする*/
        font-size: 16px;
        border-radius: 3px; /*ボックス角の丸み*/
        border: 2px solid #ddd; /*枠線*/
        box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
    }

    .image_table{
        margin-top: 30px;
    }



    .con_form{
        width: 100%; /*親要素いっぱい広げる*/
        height: 500px;
        padding: 10px 15px; /*ボックスを大きくする*/
        font-size: 16px;
        border-radius: 3px; /*ボックス角の丸み*/
        border: 2px solid #ddd; /*枠線*/
        box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
    }

    .q_label{
        color: rgb(85, 83, 83);
        font-weight: bold;
        margin-top: 50px;
    }



    .q_button  {
        cursor: pointer;
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        margin-top: 50px;
        padding: 0.5em 1.5em 0.5em 1em;
        width: 100px;
        color: rgb(53, 51, 48);
        font-size: 16px;
        font-weight: bold;
        background-color: rgb(233, 224, 213);
        border: 2px solid rgb(119, 117, 113); /*枠線*/
        box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
        border-radius: 30px;
        transition: 0.3s;
    }
        
    .q_button:hover {
        background-color: #ccae77;
        color: rgb(230, 227, 220);
    }

}