// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.g_create_link{
    z-index: 11;
    position: absolute;
    left: 25px;
    top: 80px;
}

.g_create_btn{
    width: 160px;
    height: 40px;
    z-index: 2;
    position: relative;
    padding: 0.5em 1em;
    align-items: center;
    font-size: 15px;
    font-weight: 550;
    color: rgb(59, 54, 43);
    background: rgb(241, 237, 169);
    font-weight: bold;
    border: 1px solid;
    box-shadow: 0 0 10px rgb(78, 76, 76);
    cursor: pointer;
    border-radius: 10px;
}

.g_create_btn:hover{
    color: rgb(48, 41, 28);
    background: #cebe2e;
    box-shadow: 0 0 10px rgb(51, 51, 51);
}

.g_join_link{
    z-index: 11;
    position: absolute;
    left: 200px;
    top: 80px;
}

.g_join_btn{
    width: 160px;
    height: 40px;
    z-index: 2;
    position: relative;
    padding: 0.5em 1em;
    align-items: center;
    font-size: 15px;
    font-weight: 550;
    color: rgb(59, 54, 43);
    background: rgb(241, 237, 169);
    font-weight: bold;
    border: 1px solid;
    box-shadow: 0 0 10px rgb(78, 76, 76);
    cursor: pointer;
    border-radius: 10px;
}

.g_join_btn:hover{
    color: rgb(48, 41, 28);
    background: #cebe2e;
    box-shadow: 0 0 10px rgb(51, 51, 51);
}


.expl{
    background-color: rgb(187, 181, 174);
    color: rgb(77, 76, 74);
    padding: 0.5px;
    border: 2px solid;
    border-radius: 3px;
    position: absolute;
    width: 300px;
    top: 65px;
    left: 46px;
}

.expl p{
    margin: 0 5px 0 5px;
    font-size: 15px;
    font-weight: bold;
}

.signup_label{
    color: rgb(90, 77, 77);
    font-weight: bold;
    margin-top: 30px;
    right: 100px;
}

.signup_field{
    width: 30%; 
    min-width: 200px;
    padding: 10px 15px; /*ボックスを大きくする*/
    font-size: 16px;
    border-radius: 3px; /*ボックス角の丸み*/
    border: 2px solid #ddd; /*枠線*/
    box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
    margin-bottom: 20px;
}

.signup_button  {
    cursor: pointer;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 30px;
    padding: 0.5em 1em 0.5em 1em;
    width: 80px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: bold;
    background-color: rgb(73, 72, 69);
    border: 2px solid rgb(119, 117, 113); /*枠線*/
    box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
    border-radius: 8px;
    transition: 0.3s;
}
    
.signup_button:hover {
    text-decoration: none;
    background-color: #f0f0f0;
    color: rgb(78, 78, 78);
}

.u_info{
    margin-top: 60px;
    margin-bottom: 90px;
}

.u_info b{
    font-size: large;
    color: #0d528a;
}

.show_user_icon{
    font-size: 26px;
    margin-right: 10px;
    color: rgb(250, 252, 255);
}


.u_info table{
    width: 100;
    max-width: 1000px;
    margin-top: 10px;
    border-collapse: collapse;
    font-size: 16px;
    border: double 3px rgb(37, 45, 56);
    box-shadow: 0 0 3px rgb(51, 51, 51);
}

.u_info table tr{
    border-bottom: solid 2px white;
}

.u_info table tr:last-child{
    border-bottom: none;
}

.u_info table th{
    position: relative;
    text-align: left;
    width: 25%;
    height: 30px;
    background-color: #7ab9ec;
    color: white;
    padding: 17px 0 17px 5%;
}

.u_info table th:after{
    display: block;
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top:calc(50% - 10px);
    right:-10px;
    border-left: 10px solid #7ab9ec;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}


.u_info table td{
    font-size: 17px;
    width: 85%;
    text-align: center;
    background-color: #eee;
    padding: 10px 0;
}

.show_btn {
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    width: 70px;
    height: 22px;
    margin-left: 15%;
    border: 1px solid rgb(248, 248, 248);
    background: rgb(91, 114, 139);
    border-color: rgb(44, 60, 95);
    box-shadow: 0 0 3px rgb(51, 51, 51);
    color: #ffffff;
    border-radius: 3px;
    text-align: center;
}
  
.show_btn:hover {
    background: rgb(17, 35, 54);
    border-color: rgb(44, 60, 95);
    box-shadow: 0 0 3px rgb(51, 51, 51);
    color: #ffffff;
}