<div class="nice_link">
    <%= link_to nices_path(answer: answer), method: :post, remote: true do %>
        <button class="befor_nice_btn"><i class="fas fa-thumbs-up"></i></button>
    <% end %>
</div>