<h1>-ErrorAnalysis-</h1>

<div class="back_link">
<%= link_to :back do %>
    <button class="back_btn"><i class="fas fa-arrow-alt-circle-left"></i> 戻る</button>
<% end %>
</div>

<div class="q_link">
<%= link_to questions_path do %>
    <button class="q_link_btn"><i class="fas fa-box-open"></i> 質問箱</button>
<% end %>
</div>

<div class="home_link">
<%= link_to "/" do %>
    <button class="home_btn"><i class="fas fa-home"></i></button>
<% end %>
</div>
  
